html, body {
    margin: 10px;
    padding: 10px;
}

.grid {
    width: 200px;
    height: 200px;
    border: solid #000 1px;
    display: flex;
    flex-wrap: wrap;
}

.square {
    width: 20px;
    height: 20px;
}

.snake {
    background-color: #595260;
}

.apple {
    background-color: #FFD523;
}